<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" />

    {{!-- Stylesheet Css --}}
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/error.css" />
</head>

<body>
      <div class="mainbox">
    <div class="err">4</div>
    <div class="err3">0</div>
    <div class="err2">4</div>
    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="/">home</a> and try from there.</p></div>
      </div>


    <footer class="text-center font-weight-bolder mt-5 py-3">
        <hr class="mt-5">
        Made By Maahi Patel
    </footer>

    {{!-- JQuery --}}
    <script src="js/jquery-3.6.0.min.js"></script>
    {{!-- Popper --}}
    <script src="js/popper.min.js"></script>

    {{!-- Site Script --}}
    <script src="js/site.js"></script>
</body>

</html>