/* Global Setting */

:root {
    /* basic Colors */
    --Blue-color: #4285F4;
    --Dark-Blue-color: #1A73E8;
    --Red-color: #EA4335;
    --Yellow-color: #FBBC04;
    --Green-color: #34A853;
    --Dark-Green-color: #1E8E3E;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

.smooth-transition {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


/* Scrollbar */

::-webkit-scrollbar {
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    width: 10px;
    background: 0 0
}

::-webkit-scrollbar-track {
    background: 0 0
}

::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 5px
}


/*Global Glass Effect*/

.Glass-Effect {
    background: white;
}

@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
    .Glass-Effect {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)) !important;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
}

h4 {
    text-shadow: 0px 7px 19px rgba(100, 100, 111, 0.2);
}


/* A link Navigation Buttons */

a {
    position: relative;
    font-size: 30px;
    border-radius: 50%;
    background-color: var(--Blue-color);
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 28px;
    width: 28px;
}

a i {
    position: relative;
    top: 1px;
    padding: 0px 6px;
}

a:hover {
    background-color: var(--Green-color);
    color: white;
    text-decoration: none;
}

.Custom-Nav {
    opacity: 0;
    bottom: -100px;
    padding: 8px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Custom-Nav a i {
    top: 1.25px;
}

.Custom-Nav:hover {
    box-shadow: rgba(17, 12, 46, 0.10) 0px 48px 100px 0px;
}

.min-height-100 {
    min-height: 500px;
}

.image-container {
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
    max-width: 100%;
}

input {
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 8px 26px;
    border-radius: 8px;
}

input[type="number"]:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

input[type="button"] {
    background-color: var(--Green-color);
    color: white;
}

input[type="button"]:hover {
    background-color: var(--Dark-Green-color);
}

.Blue-btn {
    background-color: var(--Blue-color)!important;
}

.Blue-btn:hover {
    background-color: var(--Dark-Blue-color)!important;
}